<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Plantilla en MVC, con Bootstrap 3
      {% endblock  %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    
    <!-- editor de texto -->
    <link rel="stylesheet" href="sceditor/minified/themes/office.min.css" />
 
  </head>
  <body>

    <section class="container">

      <header>
        {% block encabezado %}
          <h1>AQUI VA EL ENCABEZADO GENERAL</h1>
        {% endblock %}
      </header>

      <nav>
        <div class="alert alert-success text-center">
          <h3>
          <a href="index.html">Productos</a>
          |
          <a href="categorias.html">Categorías</a>
          |
          <a href="blog.html">Blog</a>
          |
          <a href="centros-deportivos.html">Centros Deportivos</a>
          |
          <a href="monumentos.html">Monumentos</a>
          </h3>
        </div>
      </nav>

      <section>
        <header>
          <h2>
            {% block titulo_contenido %}
              Sección de
            {% endblock %}
          </h2> 
        </header>
        <section>
          {% block contenido %}
            AQUI VA EL CONTENIDO
          {% endblock %}
        </section>
      </section>
    </section>

      <footer>
        {% block pie %}
          <!-- <hr> -->
          <div class="alert alert-warning text-center">
            <p>
              Todos los derechos reservados - 2018 - 
            </p>
          </div>
        {% endblock %}
      </footer>
    


 
    <!-- Cargar Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script para añadir wysiwyg (editor de texto) a los textarea -->
    <!-- <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
     <script>tinymce.init({ selector:'textarea' });</script>-->
    
    <!-- Script para añadir SCEditor (editor de texto) para los textarea -->
    <script src="sceditor/minified/sceditor.min.js"></script>
    <script src="sceditor/minified/formats/bbcode.min.js"></script>
    <script src="sceditor/languages/es.js"></script>
    <script>
      // Replace the textarea #example with SCEditor
      var textarea = document.getElementById('descripcion');
      sceditor.create(textarea, {
        format: 'bbcode',
        style: 'sceditor/minified/themes/content/default.min.css'
      });
    </script>

   
  </body>
</html>