{% extends 'base.html.twig' %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>Categorías de mis productos</small>
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
      <tr>
        <th>Categorías de Productos</th>
      <tr>
        {% for categoria in categorias %}
        <tr>
          <td>
            <a href="index.php?c=categoriasController.php&idCat={{ categoria.idCat }}">
              {{ categoria.nombreCat }}
            </a>
            -
            <a href="#">
              <span class="glyphicon glyphicon-pencil" title="Modificar categoria" style="color: green;"></span>
            </a>
            -
            <a href="#">
              <span class="glyphicon glyphicon-trash" title="Borrar categoria" style="color: red;"></span>
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}






