{% extends 'base.html.twig' %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>mostrando una única categoria de productos</small>
{% endblock %}


{% block contenido %}

  <article>
    <header>
      <h3>{{ categoria.nombreCat }}</h3>
    </header>
    <section>
      {{ categoria.descripcionCat }}
    </section>
    -
    <footer>
      
    </footer>
    
  </article>

{% endblock %}




