{% extends 'base.html.twig' %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>Insertar nuevo producto</small>
{% endblock %}


{% block contenido %}

  <form action="index.php?c=categoriasController.php&accion={{ accion }}" method="post" enctype="multipart/form-data">
    <div>
      <label for="nombre">
        Nombre de la categoria:
      </label>
      <input type="text" name="nombreCat" id="nombre" class="form-control" value="{{ categoria.nombreCat }}">
    </div>
    <br>
    <div>
      <label for="descripcion">
        Descripción de la categoria:
      </label>
      <textarea name="descripcionCat" style="height:200px" id="descripcion" class="form-control">{{ categoria.descripcionCat }}</textarea>
    </div>
    <br>
    
      <input type="hidden" name="idCat" value="{{ categoria.idCat }}">
    
    <div>
      <input type="submit" name="enviar" id="enviar" class="btn btn-primary btn-lg btn-block">
    </div>
    
  </form>
  <br>

{% endblock %}




