{% extends 'base.html.twig' %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>mostrando un único Centro Deportivo</small>
{% endblock %}


{% block contenido %}

  <article>
    <header>
      <h3>{{ elcentro.nombre }}</h3>
    </header>
    <section>
      Direccion: {{ elcentro.direccion }} <br>
      Localidad: {{ elcentro.localidad }} <br>
      Código Postal: {{ elcentro.cp }} 
    </section>
    -
    <footer>
      Localización: <br>
      <div id="map" style="width:100%; height:400px;"></div><br>
    <script>
      function initMap() {
        var myLatLng = {lat: {{elcentro.latitud}}, lng: {{elcentro.longitud}}};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 15
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: '{{ elcentro.nombre }}'
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCWahkncPdLZkrrq_yrzhOGRPUlEk8rw0&callback=initMap"
        async defer></script>

    </footer>
    
  </article>

{% endblock %}




