{% extends 'base.html.twig' %}

{% block titulo_contenido %}
    {{ parent() }}
    <small>Monumentos de Zaragoza</small>
    <hr>
    
{% endblock %}

{% block contenido %}
    <table class="table table-striped">
      <tr>
        <th>Listado de Monumentos</th>
        {# <th>Direccion</th> #}
      </tr>
        {% for elmonumento in losmonumentos %}
        <tr>
          <td>
            <a href="index.php?c=monumentosController.php&id={{ elmonumento.id }}">
              {{ elmonumento.nombre }}
            </a>
            {# -
            <a href="index.php?c=deportivosController.php&id={{ centro.id }}">
              {{ elcentro.direccion }} #}
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}






